{{title}}

<div class="list-group">
  <div class="list-group-item" 
  ng-click="select(item)"
  ng-class="{
    'active': item === selected
  }"
  ng-repeat="item in itemsList">
    {{item.name}}
  </div>
</div>