 
 <!-- dl>(dt+dd)*3 -->

 <dl>
   <dt>Name:</dt>
   <dd>{{ playlistDetails.name }}</dd>
   
   <dt>Favourite:</dt>
   <dd>{{ playlistDetails.favourite? 'Sure!' : 'Nope' }}</dd>
   
   <dt>Color:</dt>
   <dd ng-style="{
      color: playlistDetails.color 
   }">{{ playlistDetails.color }} </dd>
 </dl>
