<div class="row">
  <div class="col">
    <h4>Items List</h4>


    <app-items-list 
      items="playlistsList" 
      selected="selectedPlaylist" 
      on-select=" select( selected )">
    </app-items-list>

  </div>
  <div class="col">
    <h4>Playlist Details</h4>

    <app-playlist-details playlist="selectedPlaylist">
    </app-playlist-details>

  </div>
</div>