<!-- https://getbootstrap.com/docs/4.1/components/card/#card-groups -->


<div class="card-group">

  <div class="card" ng-repeat="album in albums">
    <img class="card-img-top" ng-src="{{album.images[0].url}}">
    <div class="card-body">
      <h5 class="card-title">
        <a href="#!/album/{{album.id}}">
          {{album.name}}
        </a></h5>
    </div>
  </div>

</div>

<!-- .card-group>.card.img>.card-img-top>.card-body>h5.card-title -->