<form class="input-group mb-3"
      ng-submit="search(query)">

  <input class="form-control" placeholder="Search" ng-model="query">
</form>


<!-- <div class="input-group-append">
      <button class="btn btn-outline-secondary">Search</button>
    </div> -->