<!-- .row*2>.col -->

<div class="row">
  <div class="col">
    <app-search-form on-search="search(query)">
    </app-search-form>

  </div>
</div>
<div class="row">
  <div class="col">
    <app-albums-grid albums="albums"></app-albums-grid>

  </div>
</div>