<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#!/playlists">playlists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#!/search">Search</a>
  </li>
</ul>

<div>
  <div ng-view></div>\
</div>